<%- include('./partial/header.ejs') %> 
    <div class="container-scroller">
      <%- include('./partial/sidebar.ejs') %> 
      <div class="container-fluid page-body-wrapper">
        <%- include('./partial/navbar.ejs') %> 
        <div class="main-panel">
          <div class="content-wrapper pb-0">
            <div class="page-header flex-wrap">
             
              <h3 class="mb-0">Kelas 8D SMP Khadijah <span class="pl-0 h6 pl-sm-2 text-muted d-inline-block">Ruang Kendali wSAKU</span>
              </h3>
              <!-- <div class="d-flex">
                <button type="button" class="btn btn-sm bg-white btn-icon-text border">
                  <i class="mdi mdi-email btn-icon-prepend"></i> Email </button>
                <button type="button" class="btn btn-sm bg-white btn-icon-text border ml-3">
                  <i class="mdi mdi-printer btn-icon-prepend"></i> Print </button>
                <button type="button" class="btn btn-sm ml-3 btn-success"> Add User </button>
              </div> -->
            </div>
            <div class="row">
              <div class="col-xl-3 col-lg-12 stretch-card grid-margin">
                <div class="row">
                  <div class="col-xl-12 col-md-6 stretch-card grid-margin grid-margin-sm-0 pb-sm-3">
                    <div class="card bg-warning">
                      <div class="card-body px-3 py-4">
                        <div class="d-flex justify-content-between align-items-start">
                          <div class="color-card">
                            <p class="mb-0 color-card-head">Tahun Pelajaran 2021/2022</p>
                            <h2 class="text-white"><%= time %> <span class="h5"></span>
                            </h2>
                          </div>
                        </div>
                        <h6 class="text-white"><%= date %> </h6>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-xl-9 stretch-card grid-margin">
                <div class="card">
                  <div class="card-body">
                    <div class="row">
                      <div class="col-sm-7">
                        <h5>Kamar Mandi Putra</h5>
                        <p class="text-muted"> Harap bergantian antar siswa <a class="text-muted font-weight-medium pl-2" href="#"><u></u></a>
                        </p>
                        </p>
                      </div>
                      <div class="col-sm-5 text-md-right">
                        <!-- <button type="button" class="btn btn-icon-text mb-3 mb-sm-0 btn-inverse-primary font-weight-normal">
                          <i class="mdi mdi-email btn-icon-prepend"></i>Download Report </button> -->
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-sm-6" style="height: 150px!important;">
                        <div class="card mb-3 mb-sm-0">
                          <div class="card-body py-3 px-4">
                            <p class="m-0 survey-head">IN</p>
                            <div class="d-flex justify-content-between align-items-end flot-bar-wrapper">
                              <div>
                                <%# for( let index = 0; index < data.length; index++ ) { %>
                                  <h3 class="m-0 survey-value"><%= data %> </h3>
                                <%# } %>
                                <p class="text-success m-0">Siswa</p>
                              </div>
                              <div id="earningChart" class="flot-chart"></div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="col-sm-6" style="height: 150px!important;">
                        <div class="card mb-3 mb-sm-0">
                          <div class="card-body py-3 px-4">
                            <p class="m-0 survey-head">Kapasitas Maksimal</p>
                            <div class="d-flex justify-content-between align-items-end flot-bar-wrapper">
                              <div>
                                <h3 class="m-0 survey-value"><%= max %> </h3>
                                <p class="text-danger m-0">Siswa</p>
                              </div>
                              <div id="productChart" class="flot-chart"></div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-sm-8">
                       <form action="/kamar_mandi_pa" method="post">
                        <% if (data === max) { %>
                          <button type="button" class="btn btn-warning btn-rounded btn-fw"> Antrian Penuh </button>
                        <% } else if(kamarMandi.length) {  %>
                          <button type="button" class="btn btn-info btn-rounded btn-fw"> Harap satu per satu </button>
                        <% } else { %>
                          <button type="submit" class="btn btn-primary btn-rounded btn-fw"> Konfirmasi IN </button>

                        <% } %>
                       </form>
                      </div>
                      <% for( let i = 0; i < kamarMandi.length; i++ ) { %>
                        <form action="/kamar_mandi_pa/<%= kamarMandi[0].id %>?_method=DELETE"  method="post">
                          <div class="col-sm-4">
                            <button type="submit" class="btn btn-dark btn-rounded btn-fw"> Konfirmasi OUT </button>
                          </div>
                        </form>
                      <% } %>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            
          </div>
          <%- include('./partial/footer.ejs') %> 
        </div>
        <!-- main-panel ends -->
      </div>
      <!-- page-body-wrapper ends -->
    </div>
    <script>
     
    </script>
<%- include('./partial/script.ejs') %> 